:root {
    --bar-height: 50px;
    --section-height: 99vh;
}

::selection {
    background: #a0870b;
}

body {
    margin: 0;
    font-family: "Fira Code", sans-serif;
}

* {
    font-family: "Fira Code", sans-serif;
    scroll-behavior: smooth;
}

.header {
    height: var(--section-height);
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding-top: var(--bar-height);
    box-sizing: border-box;
}

.u-centered {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

.call-to-action {
    max-width: 400px;
    padding: 32px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.call-to-action:hover {
    box-shadow: 0 0 10px rgb(217, 0, 255);
}

.call-to-action__title {
    font-family: "Fira Code", sans-serif;
    margin-top: 0;
    color: #06f9c4;
    -webkit-font-smoothing: antialiased;
}

.call-to-action__description {
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #4deeea;
    -webkit-font-smoothing: antialiased;
}

.call-to-action__button {

    background: #000000;
    outline: none;
    font: bold 1.1em "Fira Code", sans-serif;
    color: #000000;
    border: 1px solid #ccc;
    padding: 10px 16px;
    cursor: pointer;
    transition: 0.2s;
    text-shadow: #000000;
    border-radius: 7px;

}

.call-to-action__button:hover {
    color: #255784;
    cursor: crosshair;
    text-shadow: 0 0 30px #ffffff;
    background: #201c07;
    box-shadow: 0 0 40 px #399cec;
}

.bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar-height);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background 0.15s;
}

.bar--bg {
    background: #000000;
}

.bar__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar__logo {
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding-top: 4px;
}

.bar__nav-toggle {
    cursor: pointer;
}

.bar__nav-toggle > i {
    color: white;
    font-size: 2em;
}

#inpNavToggle {
    display: none;
}

#inpNavToggle:checked ~ .nav {
    display: flex;
}

.nav {
    flex-direction: column;
    display: none;
    position: fixed;
    top: var(--bar-height);
    left: 0;
    width: 100%;
    height: calc(var(--section-height) - var(--bar-height));
    padding: 32px;
    background: var(--color-primary);
    box-sizing: border-box;
    cursor: pointer;
}

.nav__link {
    font-weight: 500;
    padding: 16px 0;
    text-decoration: none;
    color: #4deeea;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__link:hover {
    opacity: 0.8;
    text-decoration: none;
}


.section__break {
    border-top: 5px solid #bc13fe;
    position: relative;
    animation: drawline 6s infinite;
}

@keyframes drawline {
    0% {
        width: 0;
    }
    25% {
        border-top: 5px solid #bc13fe;
    }
    50% {
        width: 99vw;
        border-top: 5px solid #bc13fe;
    }
    75% {
        border-top: 5px solid #bc13fe;
    }
    100% {
        width: 0;
        border-top: 5px solid #bc13fe;
    }
}

.Aboutme {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    text-align: center;
    height: var(--section-height);
}

.container__blue {
    margin-top: calc((var(--section-height) * 0.5) - 20em);
    box-sizing: border-box;
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: calc((var(--section-height) * 0.5) - 20em);
}

.container__blue:hover {
    box-shadow: 0 0 20px #00a2ff;
}

.container__red {
    margin-top: calc((var(--section-height) * 0.5) - 25em);
    box-sizing: border-box;
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.container__red:hover {
    box-shadow: 0 0 20px #b8fb3c;
}

.container__green {
    box-sizing: border-box;
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.container__green:hover {
    box-shadow: 0 0 20px #7fff00;
}

.container__neon {
    margin-top: calc((var(--section-height) * 0.5) - 25em);
    box-sizing: border-box;
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: calc((var(--section-height) * 0.5) - 25em);
}

.container__neon:hover {
    box-shadow: 0 0 20px #01ffc3;
}

.container__neoncontact {
    margin-top: 40px;
    box-sizing: border-box;
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.container__neoncontact:hover {
    box-shadow: 0 0 20px #01ffc3;
}

.container__neonproject {
    box-sizing: border-box;
    border-radius: 16px;
    align-content: center;
    display: block;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.container__neonproject:hover {
    box-shadow: 0 0 20px #01ffc3;
}

.section__title {
    font-weight: 800;
    font-family: "Fira Sans", sans-serif;
    vertical-align: middle;
    padding: 0;
    font-size: 45px;
    padding-top: 1em;
    color: #06f9c4;
    padding-bottom: 1em;
    text-shadow: 0 0 30px #08fdd8;

}

.section__description {
    margin-top: 4vh;
    text-align: center;
    margin-bottom: 5vh;
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #4deeea;
}

.section__description span {
    text-decoration: none;
    font-weight: 1200;
}

.highSchool span {
    font-weight: 1200;
}

.highschool__link {
    padding: 16px 0;
    color: #26ff00;
    text-decoration: none;
}

.highschool__link:hover {
    opacity: 0.7;
    text-decoration: none;
    cursor: crosshair;
}

.social {
    padding-bottom: 1em;
}

.github {
    color: rgb(0, 0, 0);
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.github:hover {
    opacity: 0.7;
    cursor: crosshair;
}

.linkedin {
    color: #0e76a8;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.linkedin:hover {
    opacity: 0.7;
    cursor: crosshair;
}

.twitter {
    color: #1da1f2;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.twitter:hover {
    opacity: 0.7;
    cursor: crosshair;
}

.link {
    color: #1da1f2;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.link:hover {
    opacity: 0.7;
    cursor: crosshair;
}

.skills {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    text-align: center;
    height: var(--section-height);
}

.myskills {
    padding-top: 20px;
    padding-bottom: 20px;
}

.skill__title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 45px;
}

.skill__bar {
    width: 50%;
    height: calc(var(--section-height) / 25);
    margin: 0 auto;
    background: rgb(255, 255, 255);
    margin-bottom: 100px;
}

.skill__python {
    width: 60%;
    background: rgb(9, 255, 0);
    height: calc(var(--section-height) / 25);
}

.python__hidendata {
    display: none;
    margin-top: 10px;
}

.skill__python:hover + .python__hidendata {
    color: #2bfe;
    text-align: center;
    display: block;
}

.skill__java {
    width: 50%;
    background: rgb(94, 255, 0);
    height: calc(var(--section-height) / 25);
}

.java__hidendata {
    display: none;
    margin-top: 10px;
}

.skill__java:hover + .java__hidendata {
    color: #2bfe;
    text-align: center;
    display: block;
}

.skill__web {
    width: 40%;
    background: rgb(94, 255, 0);
    height: calc(var(--section-height) / 25);
}

.web__hidendata {
    display: none;
    margin-top: 10px;
}

.skill__web:hover + .web__hidendata {
    color: #2bfe;
    text-align: center;
    display: block;
}

.Projects {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    text-align: center;
    height: var(--section-height);
}

.myprojects {
    display: table;
    width: 100%;
}


.project__title {
    padding-top: 5vh;
    padding-bottom: 2vh;
    text-align: center;
}

.project__description {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 5vw;
    padding-left: 5vw;
    align-items: center;
}

.project__link {
    padding-top: 2vh;
    padding-bottom: 5vh;
    align-items: center;
}

.row {
    display: table-row;
}

.memorygame {
    display: table-cell;
    background-color: transparent;
    width: 33%;
    margin: auto;
}

.alarm {
    display: table-cell;
    background-color: transparent;
    width: 33%;
    margin: auto;
}

.website {
    display: table-cell;
    background-color: transparent;
    width: 34%;
    margin: auto;
}

.contact {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    text-align: center;
    height: var(--section-height);
}

form{
    margin-top: 50px;
}

.contact__form{
    margin-bottom: 50px;
    padding: 16px
}

.form-control{
    width: 600px;
    border: none;
    outline: none;
    border-bottom: 5px solid #26ff00;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

.form-control-submit{
    background: linear-gradient(to bottom right, rgb(60, 255, 0), #ff0000);
}


@media only screen and (min-width: 767px) {


    .bar__nav-toggle {
        display: none;
    }

    .nav {
        display: initial;
        position: static;
        width: unset;
        height: unset;
        padding: unset;
        background: transparent;
    }

    .nav__link {
        border-top: none;
    }

    .nav__link:not(:last-of-type) {
        margin-right: 24px;
    }

}

@media only screen and (max-height: 767px){
    .container__blue{
        padding: 0;
        margin: 0;
        margin-left: 30vw;
        margin-top: 5vh;
    }

    .skill__bar:last-of-type{
        margin-bottom: 0;
    }

    .project__title{
        font-size: 25px;
    }

    .container__neonproject{
        margin-right: 1vw;
        margin-left: 1vw;
    }

    .container__neonproject:hover{
        box-shadow: none;
    }

}